---
version: 2
interactions:
    - id: 0
      request:
        host: test.dne-okta.com
        body: ""
        form: {}
        headers:
        url: https://test.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o4wzh294nJMXp5P1d7","cell":"op3","_links":{"organization":{"href":"https://test.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 275.63154ms
    - id: 1
      request:
        host: test.dne-okta.com
        body: client_id=0oa4x34ogyC1i1krJ1d7&scope=openid+okta.apps.sso+okta.apps.read
        form:
            client_id:
                - 0oa4x34ogyC1i1krJ1d7
            scope:
                - openid okta.apps.sso okta.apps.read
        headers:
            Content-Type:
                - application/x-www-form-urlencoded
        url: https://test.dne-okta.com/oauth2/v1/device/authorize
        method: POST
      response:
        body: '{"device_code":"f8233539-ed2d-4d0d-8a58-342e36320712","user_code":"QXNMSLWF","verification_uri":"https://test.dne-okta.com/activate","verification_uri_complete":"https://test.dne-okta.com/activate?user_code=QXNMSLWF","expires_in":600,"interval":5}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 318.782199ms
