---
version: 2
interactions:
    - id: 0
      request:
        host: test.dne-okta.com
        body: ""
        form: {}
        headers:
        url: https://test.dne-okta.com/.well-known/okta-organization
        method: GET
      response:
        body: '{"id":"00o4wzh294nJMXp5P1d7","cell":"op3","_links":{"organization":{"href":"https://test.dne-okta.com"}},"pipeline":"idx","settings":{"analyticsCollectionEnabled":false,"bugReportingEnabled":true,"omEnabled":false,"pssoEnabled":false}}'
        headers:
            Content-Type:
                - application/json
        status: 200 OK
        code: 200
        duration: 266.477539ms
[...]
